<div class="container">
  <div class="row">
    <div class="col sm-6">
      <ul class="list-group">
        <li
          #selected
          class="list-group-item"
          *ngFor="let addon of addons()"
          (click)="selectAddons(addon)"
        >
          <div class="col sm-2">
            <span>
              <input
                class="form-check-input doubleborder"
                type="checkbox"
                value=""
                [(ngModel)]="addon.checked"
                (change)="getTotal($event, addon)"
              />

              <label class="form-check-label marginset">
                {{ addon.name }}
              </label>
            </span>
            <span>
              <img width="50" height="50" src="{{ addon.imageUrl }}" />
            </span>
            <span>
              <label class="form-check-label marginleft">
                $ {{ addon.sellingprice }}
              </label>
            </span>
          </div>
        </li>
      </ul>
    </div>
    <!-- <div class="col sm-6">
      <img
        width="200"
        height="150"
        src="../../assets/images/Fast-Food-Restaurants.jpg"
      />
    </div> -->
  </div>

  <div>
    <ng-content></ng-content>
  </div>
  <div>
    <button class="btn btn-info" (click)="addAddons()">Add</button>
    <button class="btn btn-danger" (click)="removeAddon()">Remove</button>
    <button class="btn btn-warning" (click)="clearAll()">Clear All</button>
  </div>
</div>
