<div class="container">
  <div class="row">
    <ul class="list-group">
      <li
        #selected
        class="list-group-item"
        *ngFor="let drink of drinks()"
        (click)="selectDrinks(drink)"
      >
        <div class="row">
          <div class="col sm-2">
            <input
              class="form-check-input doubleborder"
              type="checkbox"
              value=""
              [(ngModel)]="drink.checked"
              (change)="getTotal($event, drink)"
            />

            <label class="form-check-label marginset">
              {{ drink.name }}
            </label>
          </div>
          <div class="col sm-3">
            <img width="50" height="50" src="{{ drink.imageUrl }}" />
          </div>
          <div class="col sm-3">
            <label class="form-check-label marginleft">
              $ {{ drink.sellingprice }}
            </label>
          </div>
        </div>
      </li>
    </ul>

    <!-- <div class="col sm-6">
          <img
            width="200"
            height="150"
            src="../../assets/images/Fast-Food-Restaurants.jpg"
          />
        </div> -->
  </div>

  <div class="row">
    <ng-content></ng-content>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <button class="btn btn-info" (click)="addDrinks()">Add</button>
      <button class="btn btn-danger" (click)="removeDrinks()">Remove</button>
      <button class="btn btn-warning" (click)="clearAll()">Clear All</button>
    </div>
  </div>
</div>
