<h2>Product List</h2>

<ul class="list-group">
  <div class="container">
    <div class="row">
      <li
        class="list-group-item"
        *ngFor="let product of products"
        (click)="selectProducts(product)"
      >
        <div class="col sm-6">
          <a href="#">
            {{ product.name }}
          </a>
        </div>
        <div class="col sm-6">
          <img src="{{ product.imageUrl }}" width="75" height="50" />
        </div>
      </li>
    </div>
  </div>
</ul>

<!-- <div class="col sm-6">
      <img src="{{ product.imageUrl }}" />
    </div> -->

<!-- <app-product *ngIf="selectedProducts" [product]="selectedProducts">
  <a href="#" #addOns>Addon Products</a>
</app-product> -->
<app-product *ngIf="selectedProducts" #productRef [product]="selectedProducts">
  <!-- <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" style="margin-left: 0px">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="false"
          aria-controls="collapseOne"
        >
          Addons List
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse hide"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <app-addon-list></app-addon-list>
        </div>
      </div>
    </div>
  </div> -->
</app-product>

<!-- <ng-content></ng-content> -->
