/* You can add global styles to this file, and also import other style files */

.doubleborder{
    border-width: 2px;
     border-style: double;

}

.marginset{
  margin-left: 10px
}
.rightalgin{
  float: right;
}

.marginleft{
  margin-left: 10px; font-size: 11px
}
